@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;
}

.primary-btn {
  background: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 17px;
  line-height: 94%;
  letter-spacing: 0.15em;
  color: #fff;
  padding: 25px 55px;
  border: 2px solid #ffffff98;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    color: #111;
    background: #fff;
  }
}

.header {
  background-image: url("/images/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .container {
    padding-top: 65px;
    .logo {
      margin-bottom: 153px;
      display: inline-block;
    }

    .header-content {
      max-width: 507px;
      h2 {
        font-weight: 300;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 10px;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        margin-bottom: 40px;
      }
    }
  }
}

.reservation-section {
  background-image: url("/images/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .container {
    padding: 95px 40px 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #fff;
    }
  }
}

.footer {
  background: #111111;
  .container {
    padding: 78px 40px;
    display: flex;
    justify-content: space-between;

    ul {
      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}
